## Exercise: Problem 2

        The CUSTOMER dataset contains name and address information for every customer the company has and the unique identifier for the customer is CUSTOMER_NUMBER.  The PURCHASES dataset contains information on the purchases made by customers in the last three months and also contains the CUSTOMER_NUMBER variable.  Show how you would create a dataset containing all the customers that had not made any purchases in the last three months.

In [62]:
import numpy as np
import pandas as pd
purchase_data = pd.DataFrame(np.random.randint(2,size=(100, 4)), columns=['P1','P2','P3','P4'])
customer_id = pd.DataFrame({'Customer ID': list(range(1,101))})
customer_purchase = customer_id.join(purchase_data)
customer_purchase

    Customer ID  P1  P2  P3  P4
0             1   1   1   0   1
1             2   0   1   1   0
2             3   0   1   1   1
3             4   0   0   0   1
4             5   1   0   1   0
5             6   0   0   0   0
6             7   0   0   0   0
7             8   0   1   1   1
8             9   0   1   0   1
9            10   1   0   0   0
10           11   0   0   1   1
11           12   0   0   0   1
12           13   0   1   0   0
13           14   0   0   0   0
14           15   1   1   0   1
15           16   1   1   1   0
16           17   0   0   1   1
17           18   1   1   1   1
18           19   1   1   0   1
19           20   1   1   1   0
20           21   1   0   0   0
21           22   0   0   1   0
22           23   1   0   0   0
23           24   1   1   1   0
24           25   0   1   0   1
25           26   1   1   1   1
26           27   0   1   1   1
27           28   1   0   1   0
28           29   0   1   1   1
29           30   0   0   0   0
..          ...  ..  ..  ..  ..
70           71   1   0   0   1
71           72   0   0   1   0
72           73   1   0   0   0
73           74   0   1   0   0
74           75   0   0   1   0
75           76   1   1   1   0
76           77   0   0   0   0
77           78   1   1   0   0
78           79   0   1   1   1
79           80   1   0   0   1
80           81   0   0   1   0
81           82   0   0   0   0
82           83   0   1   1   0
83           84   0   1   0   1
84           85   1   0   0   1
85           86   0   1   0   0
86           87   1   0   0   1
87           88   1   1   1   0
88           89   1   1   0   1
89           90   0   0   1   1
90           91   0   0   0   1
91           92   1   1   0   0
92           93   0   0   1   0
93           94   0   1   0   0
94           95   0   1   1   1
95           96   0   0   0   1
96           97   0   0   1   1
97           98   0   0   0   1
98           99   0   1   1   0
99          100   0   1   1   0

[100 rows x 5 columns]

Purchase_data consist of following:
    
    Customer_ID: Unique ID of each customer.
    P1 to P4: products purchased by customer over 3 months.(represented in yes:1 or no:0 values)

In [35]:
data = pd.read_csv('Seattle_Parks_And_Recreation_Park_Addresses.csv',nrows=100)
info_data = customer_id.join(data[['Name','Address']])

    Online sample data to load Name and Address from dataset available from site (https://catalog.data.gov/dataset?organization_type=City+Government&res_format=XML&tags=recreation).

In [63]:
drop_A=info_data[(customer_purchase[['P1','P2','P3','P4']] == 0).all(axis=1)]
drop_A

,Customer ID,Name,Address
5,6,32nd Ave W Boat Launch,32nd Ave W
6,7,6th Ave NW Pocket Park,606 NW 76th St
13,14,Amy Yee Tennis Center,2000 Martin Luther King Jr Way S
29,30,Beacon Hill Playground,1902 13th Ave S
30,31,Beacon Place,1110 S Dearborn St
34,35,Bell Street Park,1st to 5th Ave on Bell St
56,57,Burke-Gilman Playground Park,5201 Sand Point Way NE
76,77,College Street Ravine,5050 SW College St
81,82,Corliss Place,2166 N 50th St